{% extends "base.html" %}

{% block container %}
<div class="content">
    <div class="card-header">
        <h5 class="card-title">Cancel appointment on <strong>{{appointment.date}}</strong></h5>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-warning" role="alert">
            Are you sure that you want to delete the appointment for <strong>{{appointment.patient}}</strong>
            with the dentist <strong>{{ appointment.dentist }}</strong>?
        </div>
        <a class="btn" href="/appointments/">Close</a>
        <button type="submit" class="btn btn-danger">Cancel appointment</button>
    </form>

</div>
{% endblock %}