{% extends "base.html" %}
{% block container %}


<div class="card mt-4 w-50">
    <div class="card-body">
        <button class="btn btn-warning" onclick="document.location= 'update/'">Edit</button>
        <button class="btn btn-danger" onclick="document.location= 'delete/'">Delete</button>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <h6 class="mb-0">ID</h6>
            </div>
            <div class="col-sm-7 text-secondary">
                {{appointment.id}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <h6 class="mb-0">Patient</h6>
            </div>
            <div class="col-sm-7 text-secondary">
                {{appointment.patient}}
            </div>
        </div>
        <hr>
          <div class="row">
            <div class="col-sm-5">
              <h6 class="mb-0">Dentist</h6>
            </div>
            <div class="col-sm-5 text-secondary">
                {{appointment.dentist}}
            </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-5">
          <h6 class="mb-0">Reason</h6>
        </div>
        <div class="col-sm-7 text-secondary">
          {{appointment.get_appointment_reason_display}}
          </div>
      </div>
      <hr>
    <div class="row">
        <div class="col-sm-5">
          <h6 class="mb-0">Payment Method</h6>
        </div>
        <div class="col-sm-7 text-secondary">
          {{appointment.get_payment_method_display}}
          </div>
      </div>
      <hr>
    <div class="row">
      <div class="col-sm-5">
        <h6 class="mb-0">Date</h6>
      </div>
      <div class="col-sm-7 text-secondary">
        {{appointment.date}}
        </div>
    </div>
    <hr>
</div>
{% endblock %}