{% extends "base.html" %}
{% block container %}

<div class="content">
    <table>
        <tr>
            <th>Id</th>
            <th>Patient</th>
            <th>Dentist</th>
            <th>Date</th>
        </tr>

        <tr>
            <td>{{appointment.id}}</td>
            <td>{{appointment.patient}}</td>
            <td>{{appointment.dentist}}</td>
            <td>{{appointment.date}}</td>
            <td><a class="btn" href="update/">Edit</a></td>
            <td><a class="btn" href="delete/">Cancel</a></td>
        </tr>
    </table>
</div>

{% endblock %}