{% extends "base.html" %}
{% block container %}

<div class="content">
    <h2>Citas</h2>
    <a href="create/" class="btn">Agregar cita</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Paciente</th>
            <th>Dentista</th>
            <th>Procedimiento</th>
            <th>Metodo de pago</th>
            <th>Fecha</th>
        </tr>

        {% for appointment in appointments %}
        <tr>
            <td><a href="{{appointment.id}}">{{appointment.id}}</a></td>
            <td>{{appointment.patient}}</td>
            <td>{{appointment.dentist}}</td>
            <td>{{appointment.get_appointment_reason_display}}</td>
            <td>{{appointment.get_payment_method_display}}</td>
            <td>{{appointment.date}}</td>
        </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}