{% extends "base.html" %}
{% block container %}
<div class="content">
    <div class="card-header">
        <h5 class="card-title">Delete patient <strong>{{patient.first_name}}</strong>
        </h5>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="alert alert-warning" role="alert">
            Are you sure that you want to delete patient <strong>{{ patient }}</strong> ?
        </div>
        <a class="btn" href="/patients/">Close</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

</div>
{% endblock %}