{% extends "base.html" %}
{% block container %}

<div class="content">
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Status</th>
        </tr>

        <tr>
            <td>{{patient}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.phone_no}}</td>
            <td>{{patient.get_status_display}}</td>
            <td><a class="btn" href="update/">Edit</a></td>
            <td><a class="btn" href="delete/">Delete</a></td>
        </tr>
    </table>
    <hr>
    <h4>Citas</h4>
    <table>
        <tr>
            <th>ID</th>
            <th>Dentist</th>
            <th>Reason</th>
            <th>Payment Method</th>
            <th>Date</th>
        </tr>

        {% for appointment in patient.appointment_set.all %}
        <tr>
            <td>{{appointment.id}}</td>
            <td>{{appointment.dentist}}</td>
            <td>{{appointment.get_appointment_reason_display}}</td>
            <td>{{appointment.get_payment_method_display}}</td>
            <td>{{appointment.date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}