{% extends "base.html" %}
{% block container %}

<div class="content">
    <table>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Estado</th>
        </tr>

        <tr>
            <td>{{patient}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.phone_no}}</td>
            <td>{{patient.status}}</td>
            <td><a href="{{patient.id}}/update/">Edit</a></td>
            <td><a href="{{patient.id}}/delete/">Delete</a></td>
        </tr>
    </table>
</div>

{% endblock %}