{% extends "base.html" %}
{% block container %}

<div class="card mt-4 w-50">
<div class="card-body">
    <button class="btn btn-warning" onclick="document.location= 'update/'">Edit</button>
    <button class="btn btn-danger" onclick="document.location= 'delete/'">Delete</button>
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <h6 class="mb-0">Name</h6>
        </div>
        <div class="col-sm-7 text-secondary">
            {{patient}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-7 text-secondary">
            {{patient.email}}
        </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-sm-5">
          <h6 class="mb-0">Phone Number</h6>
        </div>
        <div class="col-sm-5 text-secondary">
            {{patient.phone_no}}
        </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-5">
    <h6 class="mb-0">Status</h6>
  </div>
  <div class="col-sm-7 text-secondary">
    {{patient.get_status_display}}
  </div>
</div>
<hr>
<table class="table table-striped table-bordered table-hover">
    <thead align="center" class="table table-sm">
        <tr>
            <th>ID</th>
            <th>Dentist</th>
            <th>Reason</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in patient.appointment_set.all %}
        <tr>
            <td>{{appointment.id}}</td>
            <td>{{appointment.dentist}}</td>
            <td>{{appointment.get_appointment_reason_display}}</td>
            <td>{{appointment.date}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

</div>
{% endblock %}