{% extends "base.html" %}
{% block container %}

<div class="content">
    
    <h3 class="mt-4">Dentists</h3>
    <br>
        <div class="card mt-4"></div>
<table class="table table-striped table-bordered table-hover">
    <thead align="center" class="table table-sm">
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Birth Date</th>
    </tr>
    </thead>
    <tbody>
        {% for dentist in dentists %}
        <tr align="center">
            <td>{{dentist.id}}</td>
            <td>{{dentist}}</td>
            <td>{{dentist.email}}</td>
            <td>{{dentist.phone_no}}</td>
            <td>{{dentist.birth_date}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
</div>

{% endblock %}