{% extends "base.html" %}
{% block container %}

<div class="content">
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Cumpleaños</th>
        </tr>

        {% for dentist in dentists %}
        <tr>
            <td>{{dentist.id}}</td>
            <td>{{dentist}}</td>
            <td>{{dentist.email}}</td>
            <td>{{dentist.phone_no}}</td>
            <td>{{dentist.birth_date}}</td>
        </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}