{% extends "base.html" %}

{% block container %}
<div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Nombre Completo</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          César Lopez
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Correo Electrónico</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{user.secretary.email}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Telefono</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{user.secretary.phone_no}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Cumpleaños</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{user.secretary.birth_date}}
        </div>
      </div>
      <hr>
    </div>
</div>
{% endblock %}