{% extends "base.html" %}
{% block container %}
<div class="content">
    <p class="name-content">{{user.secretary.first_name}} {{user.secretary.last_name}}</p>
    <p class="position">Secretario</p>
    <hr>
    <p class="info clinica">Clinica: {{user.secretary.clinic}}</p>
    <p class="info">Cedula: {{user.secretary.id_card}}</p>
    <p class="info">Correo: {{user.secretary.email}}</p>
    <p class="info">Telefono: {{user.secretary.phone_no}}</p>
    <p class="info">Cumpleaños: {{user.secretary.birth_date}}</p>
</div>
{% endblock %}




<!-- Hello {{user.username}} -->